.header {
  padding: 20px 30px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    color: white;
    padding: 3px 10px;
    background-color: #ff6600;
    text-align: center;
    line-height: 1.5em;
    border-radius: 20px;
    font-size: 2em;
    font-weight: 400;
  }

  &__burger {
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      display: inline-block;
      width: 100%;
      background-color: white;
      height: 4px;
      border-radius: 8px;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__search {
    width: 35px;
    height: 35px;
    background-color: #ff6600;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
}



@media (max-width: 650px) {
  .header {
    &__title {
      /* transform: translateY(20px); */
      font-size: 1.4em;
    }
  }
}

@media (max-width: 480px) {
  .header {
    &__search {
      display: none;
    }
  }

  .nav .header__search {
    margin-right: 7px;
    display: block;
  }
}

@media(max-width: 380px) {
  .header {
    &__title {
      font-size: 1.2em;
      line-height: 1.2em;
      max-width: 80%;
    }
  }
}