.search {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 15%;
  background: #fff;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s ease-in;

  &.search_open {
      visibility: visible;
      transform: translateY(0);
      transition: all 0.3s ease-in;
  }

  &__container {
    margin: 0 auto;
    width: 40%;
    display: flex;
    align-items: center;
  }

  &__form {
      display: flex;
      align-items: center;
      width: 100%;
      border: 1px solid #c4c4c4;
      border-radius: 15px;
  }

  &__submit {
    border: 0;
    outline: none;
    margin-right: 15px;
    background-image: url(../../images/search-input.svg);
    background-size: 45px;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    &:hover {
      cursor: pointer;
    }
    
  }

  &__input {
      padding: 5px;
      outline: none;
      border: 0;
      font-size: 18px;
      width: 80%;
  }

  &__close {
      outline: none;
      border: 0;
      font-size: 20px;
      color: #ff6600;
      margin-left: 15px;
      &:hover {
          cursor: pointer;
      }
  }
}

.search__form.search__form_min {
  display: none;
}

@media (max-width: 480px) {
  .search__form.search__form_min {
    background-color: #fff;
    display: flex;
    width: 90%;
    margin: 10px auto 0;
    .search__input {
      font-size: 1.2em;
      text-align: center;
    }

    .search__submit {
      width: 30px;
      height: 30px;
      background-size: 30px;
      margin-right: 0;
    }
  }

}
